@charset "UTF-8";

body {
    background-color: rgb(160, 228, 160);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 110, 4) ;
}

h1#principal {
    text-align: center;
    background-color: antiquewhite;
    color: white;
}

h2 {
    color:  rgb(50, 77, 50);
}

.basico{
    color: rgb(50, 77, 50);
}

.intermediario{
    color: rgb(138, 132, 47);
}

.avancado{
    color: rgb(141, 36, 36);
}