@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #45C4B0, #9AEBA3);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #486d4cab;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #DAFDBA;
    text-align: center;
    text-shadow: 1px 1px 2px #6b7c5b9c;
}
h2{
    color: #13678A;
}
p {
    text-align:justify ;
}